.container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 340px;
    padding: 10px;
    justify-content: space-between;
}

.square-div {
    background-color: black;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    margin: 0;
}

.square-div-hovered {
    background-color: pink;
}